.breadcrumb {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7)!important;
}

.active {
    color: rgba(0, 0, 0, 1)!important;
}
.breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
  display: inline-block;
  float: left;
  font-size: 24px;

}

.breadcrumb:before {
  content: '\E5CC';
  color: rgba(0, 0, 0, 0.7);
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  margin: -5px 8px 0 8px;
  -webkit-font-smoothing: antialiased;
}

.breadcrumb:first-child:before {
  display: none;
}

.breadcrumb:last-child {
  color: #fff;
}